**Punto 1**

In [8]:

# importa la libreria Pandas con el alias "pd"
import pandas as pd

# importa la funcion "drive" del modulo "google.colab"
from google.colab import drive

# monta el sistema de archivos de google drive
drive.mount('/content/drive')

# define la ruta dek archivo en google drive
import os
os.listdir("/content/drive/MyDrive/datasets")

# lee el archivo csv utilizado pandas y lo carga en un dataframe llamado "datos"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['ventas.csv', 'clientes.csv', 'marketing.csv']

In [9]:
pd.read_csv("/content/drive/MyDrive/datasets/ventas.csv")
df_ventas= pd.read_csv("/content/drive/MyDrive/datasets/ventas.csv")

pd.read_csv("/content/drive/MyDrive/datasets/marketing.csv")
df_marketing= pd.read_csv("/content/drive/MyDrive/datasets/marketing.csv")

pd.read_csv("/content/drive/MyDrive/datasets/clientes.csv")
df_clientes= pd.read_csv("/content/drive/MyDrive/datasets/clientes.csv")

**Punto 4**

In [10]:
print("Analisis exploratorio de Clientes")


print("primeras filas clientes:")
print(df_clientes.head())

print("------------------------------------------------------------------------")

print("ultimas filas:")
print(df_clientes.tail())

print("------------------------------------------------------------------------")

print("informacion del dataframe:")
print(df_clientes.info())

print("------------------------------------------------------------------------")

print("estadistica descriptiva:")
print(df_clientes.describe())

print("------------------------------------------------------------------------")
print("tipos de datos:")
print(df_clientes.dtypes)

print("------------------------------------------------------------------------")
#print("primeras filas marketing:")
#print(df_marketing.tail())

#print("primeras filas ventas:")
#print(df_ventas.head())

Analisis exploratorio de Clientes
primeras filas clientes:
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65
------------------------------------------------------------------------
ultimas filas:
     id_cliente           nombre  edad       ciudad  ingresos
562         563    Dione Forsyde    29      Posadas  26757.73
563         564      Fleming Gow    39     Santa Fe  43674.96
564         565  Jewelle Mabbett    33      Córdoba  30522.64
565         566      Lauri Munns    23  Resistencia  31259.14
566         567      Micah Matis    31   Corrientes  42927.86
------------------------------------------------------------------------
informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None
------------------------------------------------------------------------
estadistica descriptiva:
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000
------------------------------------------------------------------------
tipos de datos:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
------------------------------------------------------------------------

In [12]:
print("Analisis exploratorio de Ventas")


print("primeras filas ventas:")
print(df_ventas.head())

print("------------------------------------------------------------------------")

print("ultimas filas:")
print(df_ventas.tail())

print("------------------------------------------------------------------------")

print("informacion del dataframe:")
print(df_ventas.info())

print("------------------------------------------------------------------------")

print("estadistica descriptiva:")
print(df_ventas.describe())


print("------------------------------------------------------------------------")

print("tipos de datos:")
print(df_ventas.dtypes)

print("------------------------------------------------------------------------")

Analisis exploratorio de Ventas
primeras filas ventas:
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos
------------------------------------------------------------------------
ultimas filas:
      id_venta                producto   precio  cantidad fecha_venta  \
3030      1837         Horno eléctrico  $104.12       9.0  30/12/2024
3031      2276                  Laptop   $85.27       9.0  30/12/2024
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

              categoria
3030  Electrodomésticos
3031        Electrónica
3032        Electrónica
3033        Electrónica
3034        Electrónica
------------------------------------------------------------------------
informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None
------------------------------------------------------------------------
estadistica descriptiva:
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000
------------------------------------------------------------------------
tipos de datos:
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object
------------------------------------------------------------------------

In [13]:
print("Analisis exploratorio de Marketing")


print("primeras filas marketing:")
print(df_marketing.head())

print("------------------------------------------------------------------------")

print("ultimas filas:")
print(df_marketing.tail())

print("------------------------------------------------------------------------")

print("informacion del dataframe:")
print(df_marketing.info())

print("------------------------------------------------------------------------")

print("estadistica descriptiva:")
print(df_marketing.describe())

print("------------------------------------------------------------------------")
print("tipos de datos:")
print(df_marketing.dtypes)

print("------------------------------------------------------------------------")

Analisis exploratorio de Marketing
primeras filas marketing:
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024
------------------------------------------------------------------------
ultimas filas:
    id_campanha            producto  canal  costo fecha_inicio   fecha_fin
85           70          Aspiradora     TV   3.06   13/12/2024  29/12/2024
86           89           Televisor     TV   4.98   13/12/2024    8/2/2025
87           68   Rincón de plantas     TV   5.81   17/12/2024   14/2/2025
88           33            Secadora  Email   3.80   20/12/2024    7/1/2025
89           11  Freidora eléctrica   RRSS   5.27   29/12/2024   21/1/2025
------------------------------------------------------------------------
informacion del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None
------------------------------------------------------------------------
estadistica descriptiva:
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000
------------------------------------------------------------------------
tipos de datos:
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object
------------------------------------------------------------------------